@import '../../static/scss/main';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 30px 0;
  background: #fff;
  width: 100%;
  transition: transform 0.5s, background 0.5s;

  &.fixed {
    transform: translateY(-100%);
  }

  .wrapper {
    @include respond-to(m) {
      padding: 0 20px;
    }
  }

  @include respond-to(d) {
    padding: 20px 0;
  }

  @include respond-to(t) {
    background: #009abb;
    padding: 20px 0 !important;
  }

  &.active {
    background: #009abb;
    padding: 20px 0;

    @include respond-to(d) {
      padding: 15px 0;
    }

    .logo {
      width: 65px;
      height: 65px;
      line-height: 63px;
      margin-right: 72px;
      color: #fff;
      border-color: rgba(255, 255, 255, 0.5);

      @include respond-to(d) {
        width: 50px;
        height: 50px;
        line-height: 48px;
        margin-right: 45px;
      }
    }

    .lang {
      height: 65px;

      @include respond-to(d) {
        height: 50px;
      }

      .active .lang_a {
        color: #7bc7d6;
      }
    }

    .menu_li:before {
      background: #7bc7d6;
    }

    .menu_a {
      color: #ffffff;

      @include hover {
        color: #7bc7d6;
      }
    }

    .lang:before {
      background: #7bc7d6;
    }

    .lang_a {
      color: #ffffff;

      @include hover {
        color: #7bc7d6;
      }
    }
  }

  &_height {
    height: 160px;

    @include respond-to(d) {
      height: 105px;
    }

    @include respond-to(t) {
      height: 85px;
    }
  }

  @include respond-to(t) {
    height: 85px;
    transition: transform 0.5s, height 0.5s;

    &.mobopen {
      height: 100%;
      transform: translateY(0);

      .mob_scroll {
        display: block;
      }

      .menu_btn {
        i {
          opacity: 0;

          &:first-child {
            opacity: 1;
            transform: rotate(-45deg);
            top: 21px;
          }

          &:last-child {
            opacity: 1;
            transform: rotate(45deg);
            top: 21px;
          }
        }
      }
    }
  }
}

.logo {
  color: #009abb;
  font-size: 18px;
  font-family: $Font-AktivGroteskCorp;
  letter-spacing: .2em;
  padding-left: .2em;
  width: 97px;
  height: 97px;
  line-height: 95px;
  border: 1px solid #bfe6ee;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: all 0.5s;
  margin-right: 40px;

  @include respond-to(d) {
    font-size: 12px;
    width: 65px;
    height: 65px;
    line-height: 63px;
    margin-right: 30px;
  }

  @include respond-to(t) {
    width: 45px !important;
    height: 45px !important;
    line-height: 43px !important;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 3;
  }
}

.mob_scroll {
  display: initial;

  @include respond-to(t) {
    display: none;
    overflow: scroll;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 65px;
  }
}

.menu {
  display: inline-block;
  vertical-align: middle;

  @include respond-to(t) {
    display: block;
    text-align: center;
  }

  &_li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 75px;
    font-family: $Font-AktivGroteskCorpBold;

    &:before {
      content: '';
      width: 5px;
      height: 5px;
      display: inline-block;
      background: #bfe6ee;
      margin-right: 15px;
      vertical-align: middle;

      @include respond-to(d) {
        width: 3px;
        height: 3px;
      }

      @include respond-to(t) {
        display: none;
      }
    }

    @include respond-to(d) {
      margin-left: 47px;
    }

    @include respond-to(t) {
      display: block;
      text-align: center;
      margin: auto;
    }
  }

  &_a {
    display: inline-block;
    color: #71787f;
    transition: color 0.5s;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.05em;
    vertical-align: middle;

    @include hover {
      color: #009abb;
    }

    @include respond-to(d) {
      font-size: 12px;
    }

    @include respond-to(t) {
      color: #fff;
      line-height: 60px;
    }

  }

  &_btn {
    display: none;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    width: 45px;
    height: 45px;
    line-height: 43px;
    position: relative;
    z-index: 3;
    float: right;
    cursor: pointer;

    @include respond-to(t) {
      display: block;
    }

    i {
      display: block;
      width: 16px;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 21px;
      left: 14px;
      transition: all 0.5s;

      &:first-child {
        top: 17px;
      }

      &:last-child {
        top: 25px;
      }
    }
  }
}

.lang {
  float: right;
  height: 97px;
  @include style(middle);
  transition: all 0.5s;

  &:before {
    content: '';
    width: 5px;
    height: 5px;
    display: inline-block;
    background: #bfe6ee;
    vertical-align: middle;
    transition: width 0.5s 0.2s;

    @include respond-to(d) {
      width: 3px;
      height: 3px;
    }

    @include respond-to(t) {
      display: none;
    }
  }

  @include hover {
    &:before {
      width: 30px;
      transition: width 0.5s;

      @include respond-to(d) {
        width: 15px;
      }
    }

    .lang_a {
      opacity: 1;
      transition: color 0.5s, opacity 0.5s 0.2s;

    }

    .lang_li {
      max-width: 100px;
      transition: all .5s;
    }
  }

  @include respond-to(d) {
    height: 65px;
  }

  @include respond-to(t) {
    float: none;
    text-align: center;
    height: 65px !important;
  }

  &_li {
    display: inline-block;
    vertical-align: middle;
    font-family: $Font-AktivGroteskCorpBold;
    max-width: 0;

    transition: all .5s 0.2s;

    &.active {
      max-width: 100px;
      pointer-events: none;

      .lang_a {
        color: #009abb;
        opacity: 1;
        width: auto;

        @include respond-to(t) {
          color: #94c6d4;
        }
      }
    }

    @include respond-to(t) {
      max-width: none;
    }
  }

  &_a {
    display: inline-block;
    color: #71787f;
    transition: color 0.5s, opacity 0.5s;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.05em;
    vertical-align: middle;
    margin-left: 20px;

    @include hover {
      color: #009abb;
    }

    @include respond-to(d) {
      font-size: 12px;
      margin-left: 20px;
    }

    opacity: 0;

    @include respond-to(t) {
      margin: 0 15px;
      color: #fff;
      line-height: 60px;
      opacity: 1;

    }
  }

}